<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>MVC todo</title>
    <link rel="shortcut icon" href="favicon.png" />
    <meta name="description" content="" />
    <meta http equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/libs.min.css" />
    <link rel="stylesheet" href="css/style.min.css" />
    <link rel="stylesheet" href="fonts/fontAwesome/css/font-awesome.css" />
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- ================ HEADER ================ -->
    <div class="wrapper">
      <header>
        <h1 class="h1">MVC todo</h1>
      </header>

      <!-- ================ MAIN ================ -->
      <main class="main">
        <script type="text/template" id="wrapperTemplate">
          <section id="mainSection">
          	<ul id="cont"></ul>
          	<input type="text" placeholder="set a value" name="addItem" id="addItem">
          	<button id="addBtn">add</button>
          </section>
        </script>
      </main>

      <script type="text/template" id="listTemplate">
        <% for( var i = 0; i < data.length; i++ ){ %>
        	<li class="list"><span class="span" data-value="<%= data[i] %>"><%= data[i] %></span>
        		<i data-value="<%= data[i] %>" class="fa fa-times"></i>
        		<a class="popup-modal" href="#test-modal"><i class="fa fa-pencil" data-value="<%= data[i] %>"></i></a>
        	</li>
        	<% }; %>
      </script>

      <!-- popup window -->
      <div id="modal_form" class="white-popup-block">
        <span id="modal_close" class="close">X</span>
        <h2 class="popupHeader">Set new value</h2>
        <input type="text" name="changeValue" id="changeValue" />
        <a class="setOk popup-modal-dismiss" href="#">OK</a>
        <a class="popup-modal-dismiss setCansel close" href="#">Cancel</a>
      </div>
      <div id="overlay"></div>
    </div>

    <!-- ================ SCRIPTS ================ -->
    <script data-main="js/app.js" src="js/require.js"></script>
  </body>
</html>
