
  <h2 class="header">Delete</h2>
  <div class="col s12">
    <div class="col s12">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">FRONTEND</span>
          <pre>
  function removeItem(e){
    e.preventDefault();
    const target = e.target.closest('.myElement');
    const id = $(target).data('id');

    const data = {
      id: id
    }

    $.ajax({
      type: 'DELETE',
      data: JSON.stringify(data),
      contentType: 'application/json',
      url: url           
    })
    .done(function(result){
      getItems();
    });
  }
      
  
          </pre>
        </div>
      </div>
    </div>



  </div>
            


  <div class="col s12">
    <div class="col s12">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">BACKEND</span>
          <pre>
removeItem: function(req, res){
  res.send('res');
  MongoClient.connect(process.env.DB_URI, (error, db) => {
    if(error){
      return console.log('Unable to connect');
    }

    db.collection('tessssst').findOneAndDelete({
       "_id" : new ObjectID(req.body.id)
    });

    db.close();
  });
}
  
          </pre>
        </div>
      </div>
    </div>



  </div>
            

